
<div class="col-12 col-md-6 centered container_maked" style="padding-top:15px;">

    <div class="tasks-container">

        <h1>
            <center>ATUALIZAR TAREFA</center>
        </h1>
        <form action="/update" method="post">
            {{#each oneDemanda}}
                <div class="container">
                    

                        <div class="form-group p-2">
                            <div class="row">
                                    <input type="hidden" name="id" value="{{dataValues.id}}">
                                    <label for="nome" class="form-label"><b>Título</b></label>
                                    <input type="text" class="form-control"  name="nome" value="{{dataValues.nome}}">
                            </div>
                        </div>

                        <div class="form-group p-2">
                            <div class="row">
                                <label for="descricao"><b>Descrição:</b></label>
                                <textarea name="descricao" id="descricao" cols="30" rows="10" class="form-control">{{dataValues.descricao}}</textarea>
                            </div>
                        </div>

                        <div class="p-2 row " >
                            <div class="p-2 ml-auto">
                                <button class="btn btn-success">Atualizar</button>
                            </div>
                        </div>  
                </div>
            {{/each}}
        </form>
    </div>
</div>